* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,
h2 {
    color: #eee;
    margin-bottom: 1rem;
}
img {
    width: 200px;
    max-width: 100%;
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 3rem;
}
li {
    text-align: center;
}
a {
    color: #2cff8f;
    text-decoration: none;
}
a img {
    border: 1px solid #2cff8f;
}
